
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}
page[size="NAKLEJKA"] {
  width: 15cm;
  height: 7.5cm;
}
@media print {
  page {
    page-break-before: always;
    margin: 0;
    box-shadow: 0;
  }
}