<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teczki</title>
</head>
<body>
<h1>Teczki</h1>

{% for briefcase in briefcases %}
    {{ briefcase.beneficjent }} <br>
{% endfor %}

</body>
</html>

