{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Briefcases</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
  <div class="container">
      <ol class="breadcrumb my-4">
          <li class="breadcrumb-item active">Briefcase</li>
      </ol>

    <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th>Beneficjent</th>
          <th>Numer wniosku</th>
          <th>Znak JRWA</th>
          <th>Hasło JRWA</th>
        </tr>
      </thead>
      <tbody>
        {% for briefcase in briefcases %}
          <tr>
            <td>
              {{ briefcase.projekty }}<br>
            </td>
            <td class="align-middle">{{ briefcase.data_rozpoczecia }} </td>
            <td class="align-middle">{{ briefcase.data_rozpoczecia }}</td>
            <td class="align-middle">{{ briefcase.data_rozpoczecia }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </body>
</html>